
.app {
  width: 100%;
  min-height: 100vh;

  main {
    display: flex;
    width: min(100%, 1800px);
    margin: 0 auto;
  
    .container {
      flex: 6;
      overflow: hidden;

      @media screen and (max-width: 768px) {
        padding-top: 4rem;
      }
    }
  }
}
