

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: clamp(1.1rem, 2vw, 1.8rem);
  padding: 4rem 0;
  margin: 0 auto;
  flex-direction: column;

  .loaderBar {
    margin: .3rem 0;
    background-color: rgba(225, 224, 224, 0.73);
    height: 3px;
    width: 100%;
    position: relative;

    @keyframes increase {
  from {width: 0%}
  to {width: 100%}
}

    .bar {
      width: 0%;
      height: 2px;
      background-color: gray;
      position: absolute;
      left: 0;
      top: 50%;
      animation: increase 1s ease-in-out infinite alternate;
    }
  }
}



