@import "../../globalVariables.scss";

.sidebar {
  flex: 1;
  border-right: 0.5px solid $gray;
  min-height: 100vh;
  background-color: $white;
  position: relative;
  font-size: 1rem;
  padding: 10px;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    .logo {
      font-size: clamp(1em, 1.3vw, 1.3em);
      font-weight: bold;
      color: $primaryPurple;
    }

    .close {
      display: none;
    }
  }

  hr {
    height: 0;
    border: 0.2px solid $gray;
  }

  .center {
    ul {
      padding: 10px;

      .title {
        font-size: .85em;
        font-weight: bold;
        color: $primaryGray;
        margin: 18px 0 5px;
      }

      a {
        display: flex;
        align-items: center;
        padding: 6px;
        cursor: pointer;

        &:hover {
          background-color: $pirmaryLightPurple;
        }

        svg {
          font-size: .85em;
          color: $secondaryPurple;
        }

        span {
          font-size: .9em;
          font-weight: 600;
          color: $primaryGray;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;

    .colorOption {
      width: 25px;
      height: 25px;
      border-radius: 3px;
      border: 1px solid $secondaryPurple;
      cursor: pointer;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }

  @media screen and (max-width: 768px) {
    position: fixed;
    right: 0;
    top: 0;
    width: min(100%, 250px);
    z-index: 4;
    padding-left: 10px;
    transform: translateX(100%);
    transition: .25s ease-in-out;

    .top {
      justify-content: space-between;

      .close {
        display: block;
      }
    }

    &.open {
      transform: translateX(0%);
    }
  }
}