$transition: 300ms ease-in-out;
$border: 1px solid black;
$white: #fff;
$primaryPurple : #6439ff;
$pirmaryLightPurple : #ece8ff;
$secondaryPurple : #7451f8;
$primaryGray : #999;
$gray : rgb(230, 227, 227);

//darkmode 
$d-MainBg : #222;
$d-White : rgb(210, 210, 210);
$d-Bg : rgba(17, 17, 17, 0.816);
$d-Border : #333;
$d-Gray : gray;